.list-item {
    list-style: none;
    margin-bottom: 10px;
    /* Add margin to separate each item */
}

#item-table #item-list .item .name,
#item-table #item-list .item .category,
#item-table #item-list .item .quantity {
    font-weight: bold;
    color: #310a64;
    /* You can change this color value to your preference */
}

#item-list {
    height: 400px;
    width: 20%;
    overflow: auto;
}

.item {
    margin-bottom: 10px;
}

#header-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 50px;
    margin-bottom: 10px;
}

#category-filter {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: 10px;
}