body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  margin-bottom: 50px;
}

header {
  background-color: #2b2e4a;
  color: #fff;
  padding: 10px;
  text-align: center;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
}

header a {
  text-decoration: none;
  color: #fff;
  margin: 0 10px;
}

h1,
.requests-title {
  text-align: center;
  margin: 10px 0;
}

#map-request-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;

  margin: 0 auto;
}

#mapid {
  width: 100%;
  height: 65vh; /* Adjust height as needed */
  margin-bottom: 7%;
}

#request-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Adjust to fit 4 columns */
  gap: 10px;
  justify-content: center;
}

#request-list ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Adjust to fit 4 columns */
  list-style-type: none;
  padding: 0;
  margin: 0;
  gap: 55px;
}

#request-list ul li {
  background-color: #f9f9f9;
  padding-inline: 75px;
  padding-top: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

#request-list ul li:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.request-card.pending {
  background-color: #fff3cd !important;
  /* light yellow for pending */
  border-color: #ffeeba !important;
}

.request-card.assumed {
  background-color: #d1ecf1 !important;
  /* light blue for assumed */
  border-color: #bee5eb !important;
}

.request-card.completed {
  background-color: #c3e6cb !important;
  /* light green for completed */
  border-color: #b1dfbb !important;
}

.item {
  font-weight: bold;
  font-size: large;
}

.status {
  margin-top: 2;
  font-weight: bold;
}
