/* announcements.css */

header {
  background-color: #2b2e4a;
  color: #fff;
  padding: 10px;
  text-align: center;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
}

header a {
  text-decoration: none;
  color: #fff;
  margin: 0 10px;
}

/* Container Styles */
#header-container {
  padding: 20px;
  background-color: #e9dede;
  margin: 10px; /* Add margin for spacing */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 25px; /* Add box shadow to the container */
}
#create-announcement {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background: #f9f9f9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

#create-announcement label {
  margin-top: 20px;
  font-weight: bold;
}

#create-announcement input[type="text"],
#create-announcement textarea,
#create-announcement select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#announcement-items {
  margin-top: 20px;
}

#announcement-items #item-list {
  list-style: none;
  padding: 0;
}

#announcement-items button {
  margin-top: 10px;
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

#announcement-items button:hover {
  background-color: #45a049;
}

#createAnnouncementButton {
  margin-top: 20px;
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

#createAnnouncementButton:hover {
  background-color: #0056b3;
}

#announcements {
  max-width: 600px;
  margin: 20px auto;
}

#announcement-list {
  list-style: none;
  padding-left: 0;
}

#announcement-list li {
  background: #ffffff;
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
