/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  flex-direction: column; /* Added to display elements vertically */
}

/* Header Styling */
h1 {
  text-align: center;
  color: #333;
}

img {
  margin: 0 auto; /* Center the image */
}

/* Form Styles */
#rescuerRegistrationForm {
  display: flex;
  width: 100%;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-top: 20px; /* Add space between header and form */
}

label {
  font-weight: bold;
  margin-bottom: 5px; /* Ensure spacing between the label and the select box */
  color: #333; /* Maintain text color consistency */
}

/* Style for select dropdown to match the form */
select {
  width: 100%;
  padding: 10px; /* Adds padding for visual comfort */
  margin-top: 5px; /* Keeps consistent spacing with other form elements */
  border: 1px solid #ccc; /* Matches the border style of input elements */
  border-radius: 5px; /* Rounded corners to match the form aesthetics */
  background-color: #fff; /* Ensures a clean, bright background */
  font-family: Arial, sans-serif; /* Keeps font consistent with the body */
  cursor: pointer; /* Indicates the element is interactive */
}

/* Hover effect for select element to improve user experience */
select:hover {
  border-color: #6096b4; /* Changes the border color on hover for feedback */
}

/* Focus effect to highlight the active field */
select:focus {
  border-color: #6096b4; /* Highlights the select box when it is active */
  outline: none; /* Removes the default focus outline to maintain the custom style */
  box-shadow: 0 0 5px rgba(96, 150, 180, 0.5); /* Adds a soft glow to indicate focus */
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.validation-error-message {
  margin-top: 5px;
}

/* Button Styles */
button {
  display: flex;

  width: 100%;
  padding: 10px;
  background-color: #6096b4;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

button:hover {
  background-color: #93bfcf;
}
#register-button {
  text-align: center;
}

/* Validation Error Message Style */
.validation-error-message {
  color: red;
}

/* Responsive Styles */
@media only screen and (max-width: 600px) {
  #rescuerRegistrationForm {
    padding: 10px;
  }

  input {
    padding: 8px;
  }
}
