h1 {
  text-align: center;
}
#addItem {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background: #fff;
  border-radius: 8px;
}

#addItem label {
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: bold;
}

#addItem input[type="text"],
#addItem input[type="number"],
#addItem textarea {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#addItem button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

#addItem button:hover {
  background-color: #0056b3;
}

textarea {
  resize: vertical; /* Allows the user to vertically resize the textarea (not horizontally) */
}

header {
  background-color: #2b2e4a;
  color: #fff;
  padding: 10px;
  text-align: center;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
}

header a {
  text-decoration: none;
  color: #fff;
  margin: 0 10px;
}

/* Container Styles */
#header-container {
  padding: 20px;
  background-color: #e9dede;
  margin: 10px; /* Add margin for spacing */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 25px; /* Add box shadow to the container */
}
