/* General Styles */

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #7976a0; /* Set the background color */
}

/* Header Styling */
header {
  background-color: #2b2e4a;
  color: #fff;
  padding: 10px;
  text-align: center;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
}

header a {
  text-decoration: none;
  color: #fff;
  margin: 0 10px;
}

/* Container Styles */
#header-container {
  padding: 20px;
  background-color: #e9dede;
  margin: 10px; /* Add margin for spacing */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 25px; /* Add box shadow to the container */
}

/* Form Styles */
label {
  font-weight: bold;
}

input[type="text"],
select {
  padding: 10px;
  width: 20%;
  margin-bottom: 10px;
  border-radius: 25px;
}
input[type="text"] {
  background-color: rgb(225, 236, 174);
}

button {
  padding: 10px 20px;
  background-color: #2b2e4a;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 25px;
}

/* Item List Styling */
#item-list {
  list-style: none;
  height: 450px;
  width: 20rem;
  padding: 0;
  background-color: #2b2e4a;
  box-shadow: 0px 3px 10px 1px rgba(0, 0, 0, 0.8); /* Add box shadow to the container */
}

.item {
  margin: 10px;
  padding: 15px;
  background-color: #e9dede;
  border: 1px solid #ddd;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Add box shadow to each item */
}

/* Footer Styling */
footer {
  background-color: #2b2e4a;
  color: #fff;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

#file-upload {
  background-color: #7976a0;
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#item-list .item:hover {
  background-color: rgb(225, 236, 174);
}

#category-filter {
  background-color: rgb(225, 236, 174);

  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Optional hover effect */
#category-filter:hover {
  border-color: #888;
}

/* Optional focus effect */
#category-filter:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

#item-details {
  /*  */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  background-color: rgb(225, 236, 174, 0.7); /* Set the background color */
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Add box shadow */
  height: 220px;
  width: 20rem;
}

#item-details h1 {
  text-align: center;
  color: #2b2e4a;
}

#item-details p {
  margin: 10px 0;
}

#item-details strong {
  font-weight: bold;
}

#detail-name,
#detail-category,
#detail-description,
#detail-quantity {
  color: #333;
  font-weight: normal;
}

#container {
  display: flex;
  flex-direction: row;
}
